<form action="/atualizar/{{id}}" method="post">
<input type="hidden" name="id" value="{{id}}">

<title>Atualização dos Dados</title>

<p>Nome Atualizado: </p>
    <input type="text" name="novoNome">

<p>Sobrenome Atualizado: </p>
    <input type="text" name="novoSobrenome">

<p>Idade Atualizada: </p>
    <input type="text" name="novaIdade">

<button type="submit">Atualizar</button>

</form>