<form action="/adicionar" method="post">

<title>Cadastro</title>

<p>Nome: </p>
    <input type="text" name="nome">

<p>Sobrenome: </p>
    <input type="text" name="sobrenome">

<p>Idade: </p>
    <input type="number" name="idade">

<button type="submit">Cadastrar</button>

</form>